@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "nunito", sans-serif;
  color: #234CAD;
}
section{
  margin-top: 150px;
}

/* =================================================================== */
/* ======= root ============================================================== */
/* =================================================================== */

:root {
}

/* =================================================================== */
/* ======= component ============================================================== */
/* =================================================================== */
.btn-tombol{
  border: 2px solid #234CAD;
  border-radius: 25px;
  background-color: #ffff;
  padding: 10px 44px !important;
  font-size: 18px;
  font-weight: 700;
}

.btn-tombol-1{
  border-radius: 25px;
  background-color: #F2F6FF;
  padding: 8px 33px;
  font-size: 18px;
  font-weight: 700;
  border: none;
}
.btn-hero{
  border: 2px solid #234CAD;
  border-radius: 35px;
  background-color: transparent;
  padding: 15px 40px;
  font-size: 22px;
  font-weight: 700;
}

/* ======= navbar ============================================================== */
nav .navbar-nav a{
  margin: 25px 20px 20px;
  font-weight: 600;
  font-size: 18px;
}


/* ======= jumbotron ============================================================== */
.jumbotron .hero{
  background-color: #F2F6FF;
  border-radius: 60px;
}
.jumbotron .content{
  padding: 100px;
}

.jumbotron .content h1{
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.jumbotron .content p{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}


/* ======= element ============================================================== */
.element-1 h4{
  font-weight: 600;
}

/* ======= products ============================================================== */
.products .banner{
  background-color: #F2F6FF;
  border-radius: 60px;
}
.products .content{
  padding: 0 100px;
}
.products .content h1{
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

/* ======= features ============================================================== */
.features .content h1{
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}
.features .banner{
  margin-top: 100px;
  background-color: #F2F6FF;
  border-radius: 60px;
}

/* ======= about ============================================================== */
.about .banner{
  background-color: #F2F6FF;
  border-radius: 60px;
}
.about .content{
  padding: 0 100px;
}
.about .content h1{
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}